@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {

  /* In your global CSS file */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    @apply bg-black text-white;
    /* Applying Tailwind classes */
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;

  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}